{% load static %}
              <div class="vitamin-bubble vitamin-bubble-1"><img src="{% static "img/b-8.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-2"><img src="{% static "img/b-2.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-3"><img src="{% static "img/b-10.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-4"><img src="{% static "img/b-5.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-5"><img src="{% static "img/b-4.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-6"><img src="{% static "img/b-9.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-7"><img src="{% static "img/b-3.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-8"><img src="{% static "img/b-1.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-9"><img src="{% static "img/b-7.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-10"><img src="{% static "img/b-6.png" %}" alt="alt"></div>
              <div class="right-section">
                <div class="akula"><img src="{% static "img/akula.png" %}" alt="alt"></div>
              </div>
              <div class="vitamin-bubble vitamin-bubble-11"><img src="{% static "img/b-13.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-12"><img src="{% static "img/b-10.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-13"><img src="{% static "img/b-8.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-14"><img src="{% static "img/b-9.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-15"><img src="{% static "img/b-15.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-16"><img src="{% static "img/b-11.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-17"><img src="{% static "img/b-1.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-18"><img src="{% static "img/b-14.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-19"><img src="{% static "img/b-7.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-20"><img src="{% static "img/b-12.png" %}" alt="alt"></div>
              <div class="vitamin-bubble vitamin-bubble-21"><img src="{% static "img/b-16.png" %}" alt="alt"></div>