doctype html
html(lang="uk")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="../img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title Льодяники Мультивітамін

		// Modernizr 
		// build:js js/modernizr.min.js 
		script(src='../js/modernizr.js')
		// endbuild 

		// CSS 
		// build:css css/all.min.css 
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/owl.carousel.min.css')
		link(rel='stylesheet', href='../css/owl.theme.default.min.css')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		link(rel='stylesheet', href='../css/animate.min.css')
		link(rel='stylesheet', href='../css/main.css')
		// endbuild 
		
		// IE8 
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		// Preloader 
		#preloader
			.cssload-whirlpool
		
		.wrap.multivitamin
			// Header 
			header#header
				.container
					.row
						.col-md-12
							.lang-social.clearfix
								.right-side
									.languages
										ul
											li
												a(href="../en/multivitamine.html") ENG
											li.active
												a(href="multivitamine.html") УКР
											li
												a(href="../multivitamine.html") РУС
									.social
										a.facebook(href="#")
							
							.logo
								a(href="/")
									img(src="../img/logo.png", alt="logo")
							
							nav.main-menu
								ul
									li
										a(href="/") Головна
									li.menu-item-has-children.active
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li.active
												a(href="multivitamine.html") Льодяники Мультивітамін
											li
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li.menu-item-has-children
										span Важливо знати
										ul
											li
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти

							.main-menu-toggle
								.one
								.two
								.three

			// Main content 
			.container
				.content-wrap
					

					// Multivitamin Header 
					section.multivitamin-header
						.row
							.col-md-12
								.logo-multivitamin
									img(src="../img/logo-multivitamin-uk.png", alt="alt")
									h1.text-indent Vitatone Льодяники Мультивітамін
								a.button.instruction2.call-popup(href="#popup") Інформація про продукт
				
					// Multivitamin Menu 
					section.multivitamin-menu.clearfix
						.row
							.col-md-12
								ul
									li
										.icon
											img(src="../img/multi-menu-1.png", alt="alt")
										h3 Мультифрукт
									li
										.icon
											img(src="../img/multi-menu-2.png", alt="alt")
										h3 Кавун
									li
										.icon
											img(src="../img/multi-menu-3.png", alt="alt")
										h3 Малина
									li
										.icon
											img(src="../img/multi-menu-4.png", alt="alt")
										h3 Виноград

					// Vitamins 
					section.multivitamins.clearfix
						.row
							.col-md-12
								.vitamins-header
									h2 В 4-х льодяниках – 
										span рекомендована добова норма
								.candy-img
									img(src="../img/candy-3.png", alt="alt")

								.vitamin-item.vitamin-1
									.icon
										img(src="../img/vitamin-c-uk.png", alt="alt")
									p Є потужним антиоксидантом. Зміцнює імунну систему організму
									span / 80 мг
								.vitamin-item.vitamin-2
									.icon
										img(src="../img/vitamin-e-uk.png", alt="alt")
									p Стимулює імунітет, покращує споживання тканинами кисню
									span / 12 мг
								.vitamin-item.vitamin-3
									.icon
										img(src="../img/vitamin-b9-uk.png", alt="alt")
									p Фолієва кислота - Необхідний для росту та розвитку кровоносної та імунної системи
									span / 200 мкг
								.vitamin-item.vitamin-4
									.icon
										img(src="../img/vitamin-b7-uk.png", alt="alt")
									p Біотин - Сприяє підтримці в нормі стану шкіри та волосся 
									span / 50 мкг
								.vitamin-item.vitamin-5
									.icon
										img(src="../img/vitamin-b12-uk.png", alt="alt")
									p Відіграє важливу роль у кровотворенні. Дефіцит вітаміну В12 порушує розумові процеси, погіршує пам’ять і увагу 
									span / 2 мкг
								.vitamin-item.vitamin-6
									.icon
										img(src="../img/vitamin-a-uk.png", alt="alt")
									p Впливає на ріст та розвиток організму, формування скелету, шкіри, слизових оболонок очей
									span / 400 мкг
								.vitamin-item.vitamin-7
									.icon
										img(src="../img/vitamin-b6-uk.png", alt="alt")
									p Брак вітаміну В6 викликає зниження імунного захисту, розвиток анемії, дерматиту
									span / 1.4 мг
								.vitamin-item.vitamin-8
									.icon
										img(src="../img/vitamin-b5-uk.png", alt="alt")
									p Нікотинова кислота. Забезпечує роботу нервової та імунної системи та наднирників
									span / 1.4 мг
					
					// Blue Section 
					.blue-wrap
						// Slider 
						.blue-slider-section
							.row
								.col-md-12
									.try-more
										h2 Спробуй ще!
									.multi-slider.owl-carousel.owl-theme
										.item
											.row
												.col-md-6
													a(href="ukachivanie.html")
														.candy-item
															img.hidden-xxs(src="../img/multi-slide-1-uk.png", alt="alt")
															img.visible-xxs(src="../img/multi-slide-1-mobile-uk.png", alt="alt")

												.col-md-6
													a(href="vitamine-c.html")
														.candy-item
															img.hidden-xxs(src="../img/multi-slide-2-uk.png", alt="alt")
															img.visible-xxs(src="../img/multi-slide-2-mobile-uk.png", alt="alt")
										.item
											.row
												.col-md-6
													a(href="ukachivanie.html")
														.candy-item
															img.hidden-xxs(src="../img/multi-slide-1-uk.png", alt="alt")
															img.visible-xxs(src="../img/multi-slide-1-mobile-uk.png", alt="alt")

												.col-md-6
													a(href="vitamine-c.html")
														.candy-item
															img.hidden-xxs(src="../img/multi-slide-2-uk.png", alt="alt")
															img.visible-xxs(src="../img/multi-slide-2-mobile-uk.png", alt="alt")

						// Footer 
						footer#footer
							.white-block.footer-transparent
								.container
									.row
										.col-md-12
											.footer-logo
												a(href="#")
													img(src="../img/footer-logo2.png", alt="alt")
											nav.footer-menu
												ul
													li
														a(href="/") Головна
													li.active
														span Продукти
														ul
															li
																a(href="multiomega.html") МультиОмега
															li.active
																a(href="multivitamine.html") Льодяники Мультивітамін
															li
																a(href="vitamine-c.html") Льодяники з вітаміном С
															li
																a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

													li
														span Важливо знати
														ul
															li
																a(href="porady.html") Мультивітаміни і Омега
															li
																a(href="porady2.html") Шкіра не випромінює красу? Чому?
															li
																a(href="porady3.html") Дитина стала гірше навчатися? Чому?
															li
																a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

													li
														a(href="ditochkam.html") Діточкам
													li
														a(href="/#our-contacts") Контакти
											.copyright
												p Всі права захищені. При використанні матеріалів сайту 
													span посилання на сайт vitatone.ua обов’язкове. VITATONE 2016
													span © 2016 International Vitamin Corporation
												p.made-in Вироблено в Польщі на замовлення та під контролем «NEWTONE PHARMA LIMITED», Велика Британія
											.masha-logo
												img(src="../img/logo-masha.png", alt="alt")
			
			// Animals 
			.rabbit
				img(src="../img/rabbit.png", alt="alt")
			.panda
				img(src="../img/panda.png", alt="alt")
			.dog
				img(src="../img/dog.png", alt="alt")
			.squirrel
				img(src="../img/squirrel.png", alt="alt")
			

			// Grey block 
			.grey-block
				.information
					p ДІЄТИЧНА ДОБАВКА НЕ Є ЛІКАРСЬКИМ ЗАСОБОМ. ПЕРЕД ВЖИВАННЯМ ОЗНАЙОМИТИСЯ З ІНФОРМАЦІЄЮ ПРО ПРОДУКТ
		
		// Hidden Popup 
		.hidden
			#popup
				p.top-p
					strong Дієтична добавка VITATONE льодяники мультивітамін, 6г х 100 шт. в банці
				table.table.table-bordered
					tbody
						tr
							td
								strong Склад:
							td В 4 льодяниках
						tr
							td(colspan="2") Активні інгредієнти:
						tr
							td Вітамін С
							td 80 г
						tr
							td Нікотинова кислота (В3)
							td 16 г
						tr 
							td Вітамін Е (dl-a-токоферолацитат)
							td 12 г
						tr
							td Вітамін В6
							td 1,4 г
						tr
							td Фолієва кислота (В9)
							td 200 мкг
						tr
							td Біотин (В7)
							td 50 мкг
						tr
							td Вітамін В12
							td 2 мкг
						tr
							td Вітамін А (ретинілпальмітат)
							td 400 мкг
						tr
							td(colspan="2")
								strong Допоміжні речовини: 
								| цукор, глюкозний сироп, регулятор кислотності лимонна кислота, ароматизатори (мультифрукт, кавун, малина, виноград), натуральний барвник куркумін, кармін, мідні комплекси хлорофілів, карміни, норбіксин. 
				p Без ГМО.
				p
					strong Рекомендації щодо застосування: 
					| за рекомендацією лікаря застосовувати в якості дієтичної добавки як додаткове джерело  біологічно активних речовин вітамінів (С, В3, Е, В6, В9, В7, В12,А).
				p Не слід використовувати як заміну повноцінного харчування. Перед початком прийому рекомендована консультація лікаря.
				p
					strong Спосіб застосування та рекомендована добова доза: 
					| дітям від 3 років та дорослим не більше 4 льодяників на день.
				p Курс споживання визначає лікар індивідуально. Доза може бути збільшена лікарем. Не перевищувати рекомендовану кількість для щоденного споживання.
				p
					strong Застереження при застосуванні: 
					| підвищена чутливість до окремих компонентів продукту. В період вагітності і лактації перед початком прийому рекомендована консультація лікаря.
				p Не є лікарським засобом.
				p 
					strong Форма випуску: 
					| льодяники, вага нетто в пластиковій упаковці 0,6 кг (100 льодяників х 6 г_ + 5%)
				p
					strong Вжити до: 
					| вказано на упаковці.
				p 
					strong Строк придатності: 
					| 12 місяців.
				p 
					strong Номер партії (серії): 
					| вказано на упаковці.
				p
					strong Умови зберігати: 
					| зберігати при температурі не вище 25 *С, в сухому захищеному від світла і недоступному для дітей місці.
				p
					strong Виробник: 
					| Zaklad Cukierniczy “Michal” s.c., Польща для Newtone Pharma Limited, Велика Британія



		// JS 
		// build:js js/all.min.js 
		script(src='../js/jquery.min.js')
		script(src='../js/bootstrap.min.js')
		script(src='../js/jquery.matchHeight-min.js')
		script(src='../js/SmoothScroll.js')
		script(src='../js/owl.carousel.min.js')
		script(src='../js/jquery.magnific-popup.js')
		script(src='../js/jquery.malihu.PageScroll2id.js')
		script(src='../js/superfish.min.js')
		script(src='../js/common.js')
		// endbuild 