doctype html
html(lang="uk")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="../img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title Поради

		// Modernizr 
		// build:js js/modernizr.min.js 
		script(src='../js/modernizr.js')
		// endbuild 

		// CSS 
		// build:css css/all.min.css 
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/owl.carousel.min.css')
		link(rel='stylesheet', href='../css/owl.theme.default.min.css')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		link(rel='stylesheet', href='../css/animate.min.css')
		link(rel='stylesheet', href='../css/social-likes_flat.css')
		link(rel='stylesheet', href='../css/main.css')
		// endbuild 
		
		// IE8 
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		// Preloader 
		#preloader
			.cssload-whirlpool
		
		.wrap
			// Header 
			header#header
				.container
					.row
						.col-md-12
							.lang-social.clearfix
								.right-side
									.languages
										ul
											li
												a(href="../en/porady.html") ENG
											li.active
												a(href="porady.html") УКР
											li
												a(href="../porady.html") РУС
									.social
										a.facebook(href="#")
							
							.logo
								a(href="/")
									img(src="../img/logo.png", alt="logo")
							
							nav.main-menu
								ul
									li
										a(href="/") Головна
									li.menu-item-has-children
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li
												a(href="multivitamine.html") Льодяники Мультивітамін
											li
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li.menu-item-has-children.active
										span Важливо знати
										ul
											li.active
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти

							.main-menu-toggle
								.one
								.two
								.three
			
			// Children Photo 
			section#children
				.container-fluid
					.row
						.col-md-12
							.children-img
								img.hidden-xs(src="../img/children.jpg", alt="alt")
								img.visible-xs.hidden-xxs(src="../img/children-768.jpg", alt="alt")
								img.visible-xxs(src="../img/children-480.jpg", alt="alt")


		// Text Page 
		section#text-page
			.container
				.row
					.col-md-12
						h1 До чого призводить дефіцит Омега-3 і вітамінів
						p Розслабившись після літнього відпочинку, восени організм протестує проти розумових та фізичних навантажень. Мозок відмовляється працювати, а енергії не вистачає навіть на половину робочого дня. Дітям теж непросто: новий режим дня, уроки, домашнє завдання, гуртки. Щоб перевтома не обернулася нервовим зривом у дорослих чи поганим навчанням та непослухом у дітей, слід вчасно поповнити запас вітамінів, мінералів та омега-3 жирних кислот в організмі.

						p 
							strong В період інтенсивних розумових та фізичних навантажень 
							| додатковим джерелом поживних речовин, необхідних для підтримки інтелекту та підвищення життєвого тонусу для дорослих та малечі стане вітамінно-мінеральний комплекс на основі риб’ячого жиру — ВІТАТОН МультиОмега, представлений на українському фармацевтичному ринку компанією «NEWTONE PHARMA LIMITED» (Великобританія). До його складу входять 14 вітамінів та мінералів, а також риб’ячий жир — джерело омега-3 жирних кислот. Корисні речовини у ВІТАТОН МультиОмега добре збалансовані, а омега-3 жирні кислоти містяться в сиропі у тому вигляді, в якому їх створила природа.

						h2 Омега – 3 для гострого розуму і міцної пам’яті!
						p
							strong Роздратованість, знервованість, погана пам’ять, зниження концентрації уваги 
							| – ці неприємні симптоми часто з’являються восени. Вони можуть свідчити про нестачу омега-3 жирних кислот. Ці речовини є незамінними для життєдіяльності кожної клітини та мають позитивний вплив на когнітивні функції і пізнавальну діяльність дитини. 

						blockquote.color-orange Відомо, що мінімум 35-40% ліпідів мозку і 70% сітківки людини становлять Омега-3 поліненасичені жирні кислоти (ПНЖК), а в період від народження до 12 років маса головного мозку зростає в 3,5 рази. 

						p Тому Омега-3 ПНЖК необхідні для правильного формування та нормального функціонування мозку і нервової системи, що особливо важливо для дітей в періоди інтенсивного росту і розвитку. Це - справжня 
							strong “їжа” для майбутніх розумників і розумниць! 
							| Вони підвищують здібності до читання, письма, дрібну моторику і координацію рухів, рівень IQ майбутнього покоління, перешкоджають перевтомі і розвитку синдрому зниженої концентрації уваги і гіперактивності.

						h2 Смачні вітамінки для гарної оцінки!
						blockquote.color-orange ВІТАТОН МультиОмега містить збалансований комплекс 14 вітамінів та мінералів, які допоможуть дитині досягати успіхів у навчанні та залишатися здоровою.  
						p 
							strong Йод
							| , що входить до складу 
							strong ВІТАТОН МультиОмега
							| , забезпечує збереження психічного здоров’я та розвитку мозку. Відомо, що його дефіцит може призвести до зниження інтелекту дитини. 
							strong Вітамін А 
							| забезпечує нормальний зір, що особливо важливо для маленьких дітей, які багато інформації засвоюють саме завдяки зоровій пам’яті, а також для школярів, що проводять багато часу за комп’ютером або за книгами. Забезпеченість дітей та підлітків 
							strong вітаміном В1 
							| важлива для підвищення ефективності процесу навчання та усунення швидкого стомлення у дітей, особливо шкільного віку. 
							strong Вітаміни С, Е та А
							| , а також цинк необхідні для підтримки імунітету, що дуже важливо в сезон застудних захворювань.
						p 
							strong Вітамін D 
							| регулює обмін кальцію та фосфору, необхідний для нормального розвитку кісток, що важливо для підтримки фізичної форми та тонусу дитини. 
						p 
							strong Вітаміни А, В2, В6, РР 
							| та біотин важливі для збереження здоров’я шкіри, волосся та нігтів. 
							strong Вітаміни групи В
							| , що входять до складу 
							strong ВІТАТОН МультиОмега
							| , необхідні для підтримки нормального стану нервової системи та підвищення тонусу організму — наприклад, недостатня кількість вітаміну В6 може проявлятися дратівливістю та сонливістю. Зниження працездатності, швидка стомлюваність, слабкість в ногах та дратівливість — стани, що супроводжують також недостатню кількість в організмі 
							strong вітаміну С
							| . До того ж цей вітамін відповідальний за стан судин в нашому організмі. 
						p Сироп 
							strong ВІТАТОН МультиОмега має приємний аромат та смак 
							| тропічних фруктів. Він не має запаху та смаку риби, 
							strong не містить глюкози
							| , тому підходить для діабетиків. Такі вітаміни будуть до смаку як маленьким ласунам, що зазнають розумових навантажень у школі або дитсадку, так і дорослим, що багато працюють та мають бути в тонусі. Важливо, що 
							strong ВІТАТОН МультиОмега 
							| виробляється в Європі згідно із суворими вимогами щодо якості. Завдяки демократичній ціновій політиці компанії ВІТАТОН МультиОмега має 
							strong доступну вартість
							| .
						.social-likes
							.facebook(title='Поділитися ссилкою у Фейсбуці') Facebook
							.twitter(title='Поділитися ссилкою у Твіттері') Twitter
							.vkontakte(title='Поділитися ссилкою у Вконтакті') Вконтакте
							
		// More Advices 
		section#more-advices
			.container
				.row
					.col-md-12
						.section-title
							h2 Ще поради
				.row
					.advices-slider.owl-carousel.owl-theme
						.item
							.col-md-4
								.advice-item
									.image
										img(src="../img/hair-min.jpg", alt="alt")
									.hover
										.title
											h4 Шкіра не випромінює красу? Чому?
										.descr
											p Стан волосся, нігтів та шкіри не обов’язково залежить від засобів догляду. Не дарма кажуть, що краса йде зсередини. Іноді проблеми виникають через дефіцит кислот Омега-3, вітамінів та мікроелементів, необхідних організму.
											a.button(href="porady2.html") Читати далі
							.col-md-4
								.advice-item
									.image
										img(src="../img/children-2-min.jpg", alt="alt")
									.hover
										.title
											h4 Дитина стала гірше навчатися? Чому?
										.descr
											p Якщо дитина приносить зі школи погані оцінки, їй важко вивчити новий матеріал, вона не хоче бавитися в активні ігри – це не означає, що вона вередує. Можливо, організму дитини не вистачає Омега-3. 
											a.button(href="porady3.html") Читати далі
							.col-md-4
								.advice-item
									.image
										img(src="../img/hart-min.jpg", alt="alt")
									.hover
										.title
											h4 Боїтеся за своє серце? Як його підтримати?
										.descr
											p На серцево-судинні захворювання хворіють в усьому світі, але науковці знають про залежність показників поширеності цих недуг в залежності від харчових звичок. Відомо, що там, де вживають багато риби жирних сортів, хвороби серця й судин поширені найменше.
											a.button(href="porady4.html") Читати далі

		// Try More 
		section#try-more
			.container
				.row
					.section-title
						h2 Спробуй ще:
				.row
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="ukachivanie.html")
									img(src="../img/img-1.png", alt="alt")
							h4
								a(href="ukachivanie.html") Vitaton льодяники при захитуванні та нудоті
							a.button.more-button(href="ukachivanie.html") Детальніше
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="multivitamine.html")
									img(src="../img/img-2.png", alt="alt")
							h4
								a(href="multivitamine.html") Vitaton льодяники мультивітамін
							a.button.more-button(href="multivitamine.html") Детальніше
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="vitamine-c.html")
									img(src="../img/img-3.png", alt="alt")
							h4
								a(href="vitamine-c.html") Vitaton льодяники вітамін С
							a.button.more-button(href="vitamine-c.html") Детальніше

		// Footer 
		footer#footer
			.white-block
				.container
					.row
						.col-md-12
							.footer-logo
								a(href="#")
									img(src="../img/footer-logo.png", alt="alt")
							nav.footer-menu
								ul
									li
										a(href="/") Головна
									li
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li
												a(href="multivitamine.html") Льодяники Мультивітамін
											li
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li.active
										span Важливо знати
										ul
											li.active
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти
							.copyright
								p Всі права захищені. При використанні матеріалів сайту 
									span посилання на сайт vitatone.ua обов’язкове. VITATONE 2016
									span © 2016 International Vitamin Corporation
								p.made-in Вироблено в Польщі на замовлення та під контролем «NEWTONE PHARMA LIMITED», Велика Британія

			.grey-block
				.information
					p ДІЄТИЧНА ДОБАВКА НЕ Є ЛІКАРСЬКИМ ЗАСОБОМ. ПЕРЕД ВЖИВАННЯМ ОЗНАЙОМИТИСЯ З ІНФОРМАЦІЄЮ ПРО ПРОДУКТ

		// JS 
		// build:js js/all.min.js 
		script(src='../js/jquery.min.js')
		script(src='../js/bootstrap.min.js')
		script(src='../js/jquery.matchHeight-min.js')
		script(src='../js/SmoothScroll.js')
		script(src='../js/owl.carousel.min.js')
		script(src='../js/jquery.magnific-popup.js')
		script(src='../js/jquery.malihu.PageScroll2id.js')
		script(src='../js/superfish.min.js')
		script(src='../js/social-likes.min.js')
		script(src='../js/common.js')
		// endbuild 