doctype html
html(lang="uk")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="../img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title Дитина стала гірше навчатися? Чому?

		// Modernizr 
		// build:js js/modernizr.min.js 
		script(src='../js/modernizr.js')
		// endbuild 

		// CSS 
		// build:css css/all.min.css 
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/owl.carousel.min.css')
		link(rel='stylesheet', href='../css/owl.theme.default.min.css')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		link(rel='stylesheet', href='../css/animate.min.css')
		link(rel='stylesheet', href='../css/social-likes_flat.css')
		link(rel='stylesheet', href='../css/main.css')
		// endbuild 
		
		// IE8 
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		// Preloader 
		#preloader
			.cssload-whirlpool
		
		.wrap
			// Header 
			header#header
				.container
					.row
						.col-md-12
							.lang-social.clearfix
								.right-side
									.languages
										ul
											li
												a(href="../en/porady3.html") ENG
											li.active
												a(href="porady3.html") УКР
											li
												a(href="../porady3.html") РУС
									.social
										a.facebook(href="#")
							
							.logo
								a(href="/")
									img(src="../img/logo.png", alt="logo")
							
							nav.main-menu
								ul
									li
										a(href="/") Головна
									li.menu-item-has-children
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li
												a(href="multivitamine.html") Льодяники Мультивітамін
											li
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li.menu-item-has-children.active
										span Важливо знати
										ul
											li
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li.active
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти

							.main-menu-toggle
								.one
								.two
								.three
			
			// Children Photo 
			section#children
				.container-fluid
					.row
						.col-md-12
							.children-img
								img(src="../img/children-2.jpg", alt="alt")


		// Text Page 
		section#text-page
			.container
				.row
					.col-md-12
						h1 Пам’ять, увага, активні розваги: як допомогти розвитку дитини
						p 
							strong Розвиток інтелекту, хороша пам’ять, фізична активність і міцне здоров’я – усе це завдяки вітамінам, мікроелементам і корисним кислотам Омега-3!
						p Якщо дитина приносить зі школи погані оцінки, їй важко вивчити новий матеріал, вона не хоче бавитися в активні ігри – це не обов’язково означає, що вона вередує. Можливо, організму дитини не вистачає Омега-3. Ці кислоти відповідають за концентрацію уваги, пам’ять, здатність до навчання та фізичну витривалість. 
						p На жаль, часто батьки звинувачують власну дитину в тому, що вона не хоче вчитися і не цікавиться навчанням, пояснюючи це дитячою впертістю й лінню. Іноді ж вирішують, що причина – в системі освіти, яка не зважає на індивідуальні потреби дитини. Поки будете з’ясовувати, що спричинило зниження шкільної успішності, не втрачайте часу: подбайте про те, щоб дитина отримувала необхідні мікроелементи та вітаміни, а також надзвичайно важливі для розвитку розумових здібностей поліненасичені жирні кислоти 
							strong Омега-3. 
						p Омега-3 необхідні для нормального функціонування мозку, адже містяться в ньому у великій кількості. Вони підвищують розумові здібності дитини, допомагають концентруватися на навчанні, сприяють поліпшенню пам’яті та уваги. Натомість дефіцит поліненасичених жирних кислот 
							strong Омега-3 
							| - надзвичайно поширене явище. Омега-3 містяться в жирних сортах риби. Щоб забезпечити організм необхідною кількістю Омега-3, рекомендується вживати дві порції риби жирних сортів на день. Втім, це багатьом українським родинам, по-перше, не по кишені, по-друге, діти не завжди охоче їдять рибу. Ось і виходить, що через цю прогалину в раціоні діти не отримують речовини, яка допомагає їм успішно навчатися. 
						p Недостатньо збалансований раціон призводить також до того, що дитячий організм отримує недостатньо вітамінів та мікроелементів, а без них теж важко бути успішним у навчанні. Зокрема, 
						ul
							li
								strong вітамін С 
								| необхідний для нормального функціонування нервової системи, забезпечує міцність кісток, повноцінну роботу імунної системи;
							li
								strong вітамін А 
								| допомагає зберегти гостроту зору, що особливо важливо в дитячому віці, коли на зір припадає велике навантаження через інтенсивне навчання;
							li
								strong вітамін Е 
								| також потрібен для зору, а ще він захищає клітини організму, підтримує імунітет та життєву енергію;
							li
								strong вітамін D 
								| в достатній кількості дає дитячому організму змогу швидко рости, забезпечує нормальний ріс кісток скелету, необхідний для міцності зубів, здоров’я шкіри;
							li
								strong вітаміни групи В (B1, B2, B6, B12) 
								| допомагають підтримувати функції нервової системи, зменшують прояви втомлюваності, поганого настрою, сонливості;
							li
								strong йод 
								| необхідний для інтелектуального розвитку та збереження психічного здоров’я;
							li
								strong цинк 
								| дбає про імунітет і міцність скелету, а також необхідний для розумового розвитку.

						blockquote.color-orange Vitatone MultiOmega – це комплекс поліненасичених жирних кислот Омега-3 і 14 вітамінів та мікроелементів. Він подбає про всі аспекти гармонійного розвитку дитини, забезпечить хорошу пам’ять та увагу, сприятиме концентрації уваги на навчанні, допоможе дитячому організму легше протистояти застудним захворюванням і краще пристосовуватися до фізичних навантажень. 
						p Втім, щоб досягти успіхів у навчанні, варто вдатися до різних засобів. Зокрема,  знайдіть час і обов’язково обговоріть з класним керівником дитини ситуацію, що склалася. Можливо, з якихось предметів дитина почала відставати, бо не зрозуміла весь матеріал. Це легко виправити завдяки додатковим заняттям. А кислоти Омега-3 та комплекс вітамінів дбатимуть про те, щоб навчання давалося дитині легше!
						p Ще одна наша порада: поміркуйте, чи правильно організований день вашої дитини. Вона має не тільки навчатися та відвідувати різноманітні гуртки, але й гуляти на свіжому повітрі, проводити час творчо разом з батьками та друзями, грати в активні ігри. Важливо, щоб відпочинок не являв собою тільки сидіння перед телевізором або за планшетом. Зверніть увагу на сон – школярі молодших класів мають спати не менше 8-9 годин. 
						p Впевнені, що ви швидко знайдете причину зниження шкільної успішності і разом з 
							strong Vitatone MultiOmega 
							| допоможете дитині легко досягти успіхів у навчанні, бути здоровою, не піддаватися застудам і радіти активному відпочинку.
						.social-likes
							.facebook(title='Поділитися ссилкою у Фейсбуці') Facebook
							.twitter(title='Поділитися ссилкою у Твіттері') Twitter
							.vkontakte(title='Поділитися ссилкою у Вконтакті') Вконтакте
		
		// More Advices 
		section#more-advices
			.container
				.row
					.col-md-12
						.section-title
							h2 Ще поради
				.row
					.advices-slider.owl-carousel.owl-theme
						.item
							.col-md-4
								.advice-item
									.image
										img(src="../img/hair-min.jpg", alt="alt")
									.hover
										.title
											h4 Шкіра не випромінює красу? Чому?
										.descr
											p Стан волосся, нігтів та шкіри не обов’язково залежить від засобів догляду. Не дарма кажуть, що краса йде зсередини. Іноді проблеми виникають через дефіцит кислот Омега-3, вітамінів та мікроелементів, необхідних організму.
											a.button(href="porady2.html") Читати далі
							.col-md-4
								.advice-item
									.image
										img(src="../img/children-2-min.jpg", alt="alt")
									.hover
										.title
											h4 Дитина стала гірше навчатися? Чому?
										.descr
											p Якщо дитина приносить зі школи погані оцінки, їй важко вивчити новий матеріал, вона не хоче бавитися в активні ігри – це не означає, що вона вередує. Можливо, організму дитини не вистачає Омега-3. 
											a.button(href="porady3.html") Читати далі
							.col-md-4
								.advice-item
									.image
										img(src="../img/hart-min.jpg", alt="alt")
									.hover
										.title
											h4 Боїтеся за своє серце? Як його підтримати?
										.descr
											p На серцево-судинні захворювання хворіють в усьому світі, але науковці знають про залежність показників поширеності цих недуг в залежності від харчових звичок. Відомо, що там, де вживають багато риби жирних сортів, хвороби серця й судин поширені найменше.
											a.button(href="porady4.html") Читати далі

		// Try More 
		section#try-more
			.container
				.row
					.section-title
						h2 Спробуй ще:
				.row
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="ukachivanie.html")
									img(src="../img/img-1.png", alt="alt")
							h4
								a(href="ukachivanie.html") Vitaton льодяники при захитуванні та нудоті
							a.button.more-button(href="ukachivanie.html") Детальніше
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="multivitamine.html")
									img(src="../img/img-2.png", alt="alt")
							h4
								a(href="multivitamine.html") Vitaton льодяники мультивітамін
							a.button.more-button(href="multivitamine.html") Детальніше
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="vitamine-c.html")
									img(src="../img/img-3.png", alt="alt")
							h4
								a(href="vitamine-c.html") Vitaton льодяники вітамін С
							a.button.more-button(href="vitamine-c.html") Детальніше

		// Footer 
		footer#footer
			.white-block
				.container
					.row
						.col-md-12
							.footer-logo
								a(href="#")
									img(src="../img/footer-logo.png", alt="alt")
							nav.footer-menu
								ul
									li
										a(href="/") Головна
									li
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li
												a(href="multivitamine.html") Льодяники Мультивітамін
											li
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li.active
										span Важливо знати
										ul
											li
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li.active
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти
							.copyright
								p Всі права захищені. При використанні матеріалів сайту 
									span посилання на сайт vitatone.ua обов’язкове. VITATONE 2016
									span © 2016 International Vitamin Corporation
								p.made-in Вироблено в Польщі на замовлення та під контролем «NEWTONE PHARMA LIMITED», Велика Британія

			.grey-block
				.information
					p ДІЄТИЧНА ДОБАВКА НЕ Є ЛІКАРСЬКИМ ЗАСОБОМ. ПЕРЕД ВЖИВАННЯМ ОЗНАЙОМИТИСЯ З ІНФОРМАЦІЄЮ ПРО ПРОДУКТ

		// JS 
		// build:js js/all.min.js 
		script(src='../js/jquery.min.js')
		script(src='../js/bootstrap.min.js')
		script(src='../js/jquery.matchHeight-min.js')
		script(src='../js/SmoothScroll.js')
		script(src='../js/owl.carousel.min.js')
		script(src='../js/jquery.magnific-popup.js')
		script(src='../js/jquery.malihu.PageScroll2id.js')
		script(src='../js/superfish.min.js')
		script(src='../js/social-likes.min.js')
		script(src='../js/common.js')
		// endbuild 