doctype html
html(lang="uk")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="../img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title Льодяники з вітаміном С

		// Modernizr 
		// build:js js/modernizr.min.js 
		script(src='../js/modernizr.js')
		// endbuild 

		// CSS 
		// build:css css/all.min.css 
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/owl.carousel.min.css')
		link(rel='stylesheet', href='../css/owl.theme.default.min.css')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		link(rel='stylesheet', href='../css/animate.min.css')
		link(rel='stylesheet', href='../css/main.css')
		// endbuild 
		
		// IE8 
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		// Preloader 
		#preloader
			.cssload-whirlpool
		
		.wrap.vitamin-c
			// Header 
			header#header
				.container
					.row
						.col-md-12
							.lang-social.clearfix
								.right-side
									.languages
										ul
											li
												a(href="../en/vitamine-c.html") ENG
											li.active
												a(href="vitamine-c.html") УКР
											li
												a(href="../vitamine-c.html") РУС
									.social
										a.facebook(href="#")
							
							.logo
								a(href="/")
									img(src="../img/logo.png", alt="logo")
							
							nav.main-menu
								ul
									li
										a(href="/") Головна
									li.menu-item-has-children.active
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li
												a(href="multivitamine.html") Льодяники Мультивітамін
											li.active
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li.menu-item-has-children
										span Важливо знати
										ul
											li
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти

							.main-menu-toggle
								.one
								.two
								.three
			
			// Vitamin C Header 
			section.vitamin-c-header
				.container
					.row
						.col-md-12
							.logo-vitamin-c
								img(src="../img/logo-vitamin-c.png", alt="alt")
								h1.text-indent Льодяники для дітей з вітаміном С
							.logo-descr
								p.white-text В 4-х льодяниках – рекомендована
								p.orange-text Добова норма вітаміну С для дітей з 3-х років
			
			// Vitamin C Content 
			section.vitamin-c-content
				.container
					.vitamin-menu.clearfix
						.row
							.col-md-12
								ul
									li
										.icon
											img(src="../img/menu-1.png", alt="alt")
										h3 Зі смаком 
											span Лимону
									li
										.icon
											img(src="../img/menu-2.png", alt="alt")
										h3 Зі смаком 
											span Вишні
									li
										.icon
											img(src="../img/menu-3.png", alt="alt")
										h3 Зі смаком 
											span Апельсина
									li
										.icon
											img(src="../img/menu-4.png", alt="alt")
										h3 Зі смаком 
											span Яблука
									li
										.icon
											img(src="../img/menu-5.png", alt="alt")
										h3 Зі смаком 
											span Екзотік
									li
										.icon
											img(src="../img/menu-6.png", alt="alt")
										h3 Зі смаком 
											span Ананасу
					
					.vitamin-c-text
						.row
							.col-md-5.col-md-push-7
								.candy-block
									img(src="../img/candy-box.png", alt="alt")
									a.button.instruction.call-popup(href="#popup") Інформація про продукт
							.col-md-7.col-md-pull-5
								.text-block.clearfix
									h1 Вітамін С у формі льодяників
									p
										strong Чотири смачні льодяника 
										| і добова потреба у вітаміні С забезпечена, це допоможе дитині протистояти застудним  захворюванням та  вірусним інфекціям, переносити фізичні навантаження. Якщо вітаміну С недостатньо, виникають скарги на втомлюваність та млявість.
									table.table.table-bordered
										thead
											tr
												th Склад
												th В 4-х льодяниках
												th % РДД*
										tbody
											tr
												td Вітамін С
												td 80 мг
												td 100%
									.table-descr
										h4 Форма випуску: 
											span Льодяники 0,8 г штука
										h4 *1% РДД 
											span рекомендована денна доза
						.row
							.col-md-12
								.profit-block-wrap
									.profit-block
										p Користь вітаміну С відчутна тоді, коли організм отримує його в достатній кількості. Добова норма вітаміну С для дітей становить близько 80 мг, а для дорослих – до 100 мг. Цей вітамін ми отримуємо з продуктами харчування, щоб задовольнити добову потребу. Зелена та ріпчаста цибуля, томати, гарбуз, петрушка, капуста, болгарський перець містять багато вітаміну С, але чи всім дітям смакують ці продукти? Готові запропонувати льодяники  Vitatone з вітаміном С.
									.candy-box-2
										img(src="../img/candy-box-2-2.png", alt="alt")
					
					.candy-slider-section
						.row
							.col-md-12
								.try-more
									h2 Спробуй ще!
								.candy-slider.owl-carousel.owl-theme
									.item
										.row
											.col-md-6
												a(href="ukachivanie.html")
													.candy-item
														img.hidden-xxs(src="../img/candy-slide-1-uk.png", alt="alt")
														img.visible-xxs(src="../img/candy-slide-1-mobile-uk.png", alt="alt")

											.col-md-6
												a(href="multivitamine.html")
													.candy-item
														img.hidden-xxs(src="../img/candy-slide-2-uk.png", alt="alt")
														img.visible-xxs(src="../img/candy-slide-2-mobile-uk.png", alt="alt")
									.item
										.row
											.col-md-6
												a(href="ukachivanie.html")
													.candy-item
														img.hidden-xxs(src="../img/candy-slide-1-uk.png", alt="alt")
														img.visible-xxs(src="../img/candy-slide-1-mobile-uk.png", alt="alt")

											.col-md-6
												a(href="multivitamine.html")
													.candy-item
														img.hidden-xxs(src="../img/candy-slide-2-uk.png", alt="alt")
														img.visible-xxs(src="../img/candy-slide-2-mobile-uk.png", alt="alt")

		// Footer 
		footer#footer
			.white-block.footer-transparent
				.sliding-footer
				.container
					.row
						.col-md-12
							.footer-logo
								a(href="#")
									img(src="../img/footer-logo.png", alt="alt")
							nav.footer-menu
								ul
									li
										a(href="/") Головна
									li.active
										span Продукти
										ul
											li
												a(href="multiomega.html") МультиОмега
											li
												a(href="multivitamine.html") Льодяники Мультивітамін
											li.active
												a(href="vitamine-c.html") Льодяники з вітаміном С
											li
												a(href="ukachivanie.html") Льодяники при захитуванні та нудоті

									li
										span Важливо знати
										ul
											li
												a(href="porady.html") Мультивітаміни і Омега
											li
												a(href="porady2.html") Шкіра не випромінює красу? Чому?
											li
												a(href="porady3.html") Дитина стала гірше навчатися? Чому?
											li
												a(href="porady4.html") Боїтеся за своє серце? Як його підтримати?

									li
										a(href="ditochkam.html") Діточкам
									li
										a(href="/#our-contacts") Контакти
							.copyright
								p Всі права захищені. При використанні матеріалів сайту 
									span посилання на сайт vitatone.ua обов’язкове. VITATONE 2016
									span © 2016 International Vitamin Corporation
								p.made-in Вироблено в Польщі на замовлення та під контролем «NEWTONE PHARMA LIMITED», Велика Британія
							.nickelodeon-logo
								img(src="../img/nickelodeon.png", alt="alt")

			.grey-block
				.information
					p ДІЄТИЧНА ДОБАВКА НЕ Є ЛІКАРСЬКИМ ЗАСОБОМ. ПЕРЕД ВЖИВАННЯМ ОЗНАЙОМИТИСЯ З ІНФОРМАЦІЄЮ ПРО ПРОДУКТ
		
		// Hidden Popup 
		.hidden
			#popup
				p.top-p
					strong Дієтична добавка VITATONE льодяники вітамін С, 8г х 150 шт. в ПЕТ банці х 1
				table.table.table-bordered
					tbody
						tr
							td Склад:
							td В 4 льодяниках
						tr
							td(colspan="2") Активні інгредієнти:
						tr
							td Вітамін С
							td 80 г
						tr
							td(colspan="2") Допоміжні речовини: цукор, глюкозний сироп, регулятор кислотності лимонна кислота, ароматизатори (апельсин, лимон, вишня, яблуко, екзотік, ананас), натуральний барвник куркумін, кармін, мідні комплекси хлорофілів, карміни, норбіксин.
				p Без ГМО.
				p
					strong Рекомендації щодо застосування: 
					| за рекомендацією лікаря застосовувати в якості дієтичної добавки як додаткове джерело  вітаміну С.
				p Не слід використовувати як заміну повноцінного харчування. Перед початком прийому рекомендована консультація лікаря.
				p
					strong Спосіб застосування та рекомендована добова доза: 
					| дітям від 3 років та дорослим не більше 4 льодяників на день.
				p Курс споживання визначає лікар індивідуально. Доза може бути збільшена лікарем. Не перевищувати рекомендовану кількість для щоденного споживання.
				p
					strong Застереження при застосуванні: 
					| підвищена чутливість до окремих компонентів продукту. В період вагітності і лактації перед початком прийому рекомендована консультація лікаря.
				p Не є лікарським засобом.
				p
					strong Форма випуску: 
					| льодяники, вага нетто в пластиковій упаковці 1,2 кг (150 льодяників х 8 г_ + 5%)
				p
					strong Вжити до: 
					| вказано на упаковці.
				p
					strong Строк придатності: 
					| 12 місяців.
				p
					strong Номер партії (серії): 
					| вказано на упаковці.
				p
					strong Умови зберігати: 
					| зберігати при температурі не вище 25 *С, в сухому захищеному від світла і недоступному для дітей місці.
				p
					strong Виробник: 
					| Zaklad Cukierniczy "Michal" s.c., Польща, ul. Bora Komorowskiego, 4 A



		// JS 
		// build:js js/all.min.js 
		script(src='../js/jquery.min.js')
		script(src='../js/bootstrap.min.js')
		script(src='../js/jquery.matchHeight-min.js')
		script(src='../js/SmoothScroll.js')
		script(src='../js/owl.carousel.min.js')
		script(src='../js/jquery.magnific-popup.js')
		script(src='../js/jquery.malihu.PageScroll2id.js')
		script(src='../js/superfish.min.js')
		script(src='../js/common.js')
		// endbuild 