{% extends "base.html" %}
{% load static %}

{% block lang %}en{% endblock lang %}
{% block title %}{% if item.product.title %}{{ item.product.title }}{% else %}{{ item.product.name }}{% endif %}{% endblock %}
{% block head %}
    {{ block.super }}
    {% with item=item.product %}
        {% include "includes/meta/index.html" %}
    {% endwith %}
{% endblock head %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/new-styles.css" %}">
{% endblock stylesheets %}

{% block content %}
    <div id="preloader">
      <div class="cssload-whirlpool"></div>
    </div>
    <div class="wrap vitamin-c">
      <!-- Header -->
      <header id="header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="lang-social clearfix">
                <div class="right-side">
                  <div class="languages">
                    <ul>
                      <li class="active"><a href="{% url "products:jeleyki" 'en' %}">ENG</a></li>
                      <li><a href="{% url "products:jeleyki" 'uk' %}">УКР</a></li>
                      <li><a href="{% url "products:jeleyki_ru" %}">РУС</a></li>
                    </ul>
                  </div>
                  <div class="social"><a href="https://www.facebook.com/VitaTone/?fref=ts" class="facebook" target="_blank"></a></div>
                </div>
              </div>
              {% include "includes/menu_prods/index_en.html" %}
              <div class="main-menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Main content -->
     <section class="jeleyki-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo-jeleyki"><img src="{% static "img/new/jeleyki-logo-kids.png" %}" alt="alt">
                <h1>Vitamin-mineral complex <br><span>with the addition of </span>natural juices <span>in the form of </span>jelly pastilles</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Vitamin C Content -->
      <section class="jeleyki-content">
        <div class="container">
          <div class="jeleyki-top clearfix">
            <div class="row">
              <div class="col-md-12">
                <div class="candy-box"><img src="{% static "img/new/jeleyki-box.png" %}" alt="alt"></div>
                <div class="taste-item item-1"><img src="{% static "img/new/jeleyki-icon-1.png" %}" alt="alt">
                  <p>Lemon</p>
                </div>
                <div class="taste-item item-2"><img src="{% static "img/new/jeleyki-icon-2.png" %}" alt="alt">
                  <p>Raspberry</p>
                </div>
                <div class="taste-item item-3"><img src="{% static "img/new/jeleyki-icon-3.png" %}" alt="alt">
                  <p>Orange</p>
                </div>
                <div class="taste-item item-4"><img src="{% static "img/new/jeleyki-icon-4.png" %}" alt="alt">
                  <p>Cherry</p>
                </div>
                <div class="vitamins-left hidden-sm hidden-xs"><img src="{% static "img/new/jeleyki-vitamins-left.png" %}" alt="alt"></div>
                <div class="vitamins-right hidden-sm hidden-xs"><img src="{% static "img/new/jeleyki-vitamins-right.png" %}" alt="alt"></div>
              </div>
            </div>
          </div>
          <div class="jeleyki-text">
            <div class="row">
              <div class="col-md-12">
                  <p class="jeleyki-descr-p">The vitamin and mineral complex <img src="{% static "img/new/jeleyki-logo-kids-small.png" %}" alt="alt">in the form of jelly pastilles with the addition of natural ingredients (carrot, apple, elderberry juices and turmeric powder), is made in Europe especially for children from 4 years old. Newtone Pharma offers a high-quality product for children, designed with the need for this age in essential vitamins and minerals. </p>
                <p class="jeleyki-descr-p p-2"><img src="{% static "/img/new/jeleyki-logo-kids-small.png" %}" alt="alt">helps to speed up recovery after infectious diseases, promotes the normalization of metabolism, as well as the work of nervous and endocrine systems, digestion and hematopoiesis, strengthens body defenses, increases appetite, etc. Vitatone Kids are delicious and healthy vitamins for children, with a taste of cherries, raspberries, orange, lemon and in the form of favorite cartoon characters "Sponge Bob". </p>
                <div class="bob-img"><img src="{% static "img/new/jeleyki-bob.png" %}" alt="alt"></div>
              </div>
            </div>
          </div>
          <div class="jeleyki-table">
            <div class="row">
              <div class="col-md-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Chemical composition</th>
                      <th>In one jelly pastille</th>
                      <th>% GDA*</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vitamin С</td>
                      <td>80 mg</td>
                      <td>50%</td>
                    </tr>
                    <tr>
                      <td>Vitamin Е</td>
                      <td>7 mg</td>
                      <td>60%</td>
                    </tr>
                    <tr>
                      <td>Vitamin B6</td>
                      <td>1 mg</td>
                      <td>75%</td>
                    </tr>
                    <tr>
                      <td>Vitamin A</td>
                      <td>400 mcg</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Folic acid</td>
                      <td>200 mcg</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Biotin</td>
                      <td>30 mcg</td>
                      <td>60%</td>
                    </tr>
                    <tr>
                      <td>Vitamin D</td>
                      <td>5 mcg</td>
                      <td>100%</td>
                    </tr>
                    <tr>
                      <td>Vitamin B12</td>
                      <td>1,5 mcg</td>
                      <td>60%</td>
                    </tr>
                    <tr>
                      <td>Zinc</td>
                      <td>6 mg</td>
                      <td>60%</td>
                    </tr>
                    <tr class="bottom-tr">
                      <td colspan="3">*% GDA <span>- Guideline daily amounts</span></td>
                    </tr>
                  </tbody>
                </table>
                <div class="bubbles-left hidden-xs"><img src="{% static "img/new/jeleyki-bubbles-left.png" %}" alt="alt"></div>
                <div class="bubbles-right hidden-xs"><img src="{% static "img/new/jeleyki-bubbles-right.png" %}" alt="alt"></div>
                <div class="jeleyki-table-descr">
                  <p> <img src="{% static "img/new/jeleyki-logo-kids-middle.png" %}" alt="alt">Vitamin and mineral complex contains:</p>
                  <ul>
                    <li>For preserving of vision – <span>Vitamin А</span></li>
                    <li>Is antioxidant, regulates metabolism – <span>Vitamin Е</span></li>
                    <li>To maintain immunity – <span>Vitamin C, Zinc</span></li>
                    <li>For normalization of the nervous system, stimulation of digestion and hematopoiesis – <span>Vitamins of group B</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="jeleyki-descr clearfix">
            <div class="logo-img"><img src="{% static "img/new/jeleyki-logo-kids-middle.png" %}" alt="alt"></div>
              <p>Vitamin-mineral complex <span>in the form of </span>jelly pastilles <span>with the addition of </span>natural juices <span>for good health, good appetite, cheerfulness and fine mood of a child.</span></p>
            <div class="jeleyki-type-item item-1"><img src="{% static "img/new/jeleyki-1.png" %}" alt="alt">
              <div class="title">Lemon</div>
            </div>
            <div class="jeleyki-type-item item-2"><img src="{% static "img/new/jeleyki-2.png" %}" alt="alt">
              <div class="title">Raspberry</div>
            </div>
            <div class="jeleyki-type-item item-3"><img src="{% static "img/new/jeleyki-3.png" %}" alt="alt">
              <div class="title">Orange</div>
            </div>
            <div class="jeleyki-type-item item-4"><img src="{% static "img/new/jeleyki-4.png" %}" alt="alt">
              <div class="title">Cherry</div>
            </div>
            <div class="bubbles-img hidden-xs"><img src="{% static "img/new/bubbles-2.png" %}" alt="alt"></div>
          </div>
          <div class="jeleyki-norma">
            <div class="norma-inner">
              <div class="norma-title">Recommended daily rate: </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="norma-item clearfix">
                    <div class="norma-img"><img src="{% static "img/new/norma-1.png" %}" alt="alt"></div>
                    <h5>Children from the age of 4</h5>
                    <p>1-2 jelly pastilles per day</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="norma-item clearfix">
                    <div class="norma-img"><img src="{% static "img/new/norma-2.png" %}" alt="alt"></div>
                    <h5>For children from 7 years old</h5>
                    <p>2-3 jelly pastilles per day</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="candy-slider-section">
            <div class="row">
              <div class="col-md-12">
                <div class="try-more">
                  <h2>Try more!</h2>
                </div>
                <div class="bubbles-img hidden-xs"><img src="{% static "img/new/bubbles-1.png" %}" alt="alt"></div>
                <div class="candy-slider owl-carousel owl-theme">
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6"><a href="{% url "products:shipuchie" 'en' %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-14-en.png" %}" alt="alt"></div></a></div>
                      <div class="col-md-6"><a href="{% url "products:nabor" 'en' %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-2-en.png" %}" alt="alt"></div></a></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6"><a href="{% url "products:ukachivanie" 'en' %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-5-en.png" %}" alt="alt"></div></a></div>
                      <div class="col-md-6"><a href="{% url "products:multivitamin" 'en' %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-6-en.png" %}" alt="alt"></div></a></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6"><a href="{% url "products:shipuchie" 'en' %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-7-en.png" %}" alt="alt"></div></a></div>
                      <div class="col-md-6"><a href="{% url "products:vitaminc" 'en' %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-8-en.png" %}" alt="alt"></div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

            <!-- Footer -->
            <footer id="footer">
              <div class="white-block footer-transparent">
                  <div class="sliding-footer"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="footer-logo"><a href="#"><img src="{% static "img/footer-logo2.png" %}" alt="alt"></a></div>
                      {% include "includes/footer_menu_prods/index_en.html" %}
                        <div class="nickelodeon-logo"><img src="{% static "img/nickelodeon.png" %}" alt="alt"></div>
                    </div>
                  </div>
                </div>
              </div>
             <div class="grey-block">
                <div class="information">
                  <p>Dietary supplement. It is not a medicinal product. Before use, read the instructions</p>
                </div>
              </div>
            </footer>



      <!-- Grey block -->

{% endblock content %}

{% block footer %}
    <!-- Hidden Popup -->
    <div class="hidden">
      <div id="popup">
          {{ item.popup | safe }}
      </div>
    </div>
{% endblock footer %}