{% load static %}
<div class="logo"><a href="{% url "products:general_uk" %}"><img src="{% static "img/logo.png" %}" alt="logo"></a></div>
            <nav class="main-menu">
                <ul>
                  <li><a href="{% url "products:general_uk" %}">Головна</a></li>
                  <li class="menu-item-has-children active"><span>Продукти</span>
                    <ul>
                      <li><a href="{% url "products:multiomega" 'uk' %}">МультиОмега</a></li>
                      <li><a href="{% url "products:multivitamin" 'uk' %}">Льодяники Мультивітамін</a></li>
                      <li><a href="{% url "products:vitaminc" 'uk' %}">Льодяники з вітаміном С</a></li>
                      <li><a href="{% url "products:ukachivanie" 'uk' %}">Льодяники при захитуванні та нудоті</a></li>
                      <li><a href="{% url "products:jeleyki" 'uk' %}">Желейні мультивітаміни</a></li>
                      <li><a href="{% url "products:shipuchie" 'uk' %}">Шипучі мультивітаміни</a></li>
                      <li><a href="{% url "products:nabor" 'uk' %}">Подарунковий набір</a></li>
                    </ul>
                  </li>
                    <li><a href="{% url "blog:posts" %}" class="menu-item-has-children">Важливо знати</a></li>
                  <li><a href="{% url "products:ditochkam" 'uk' %}">Діточкам</a></li>
                  <li><a href="{% url "products:general_uk" %}/#our-contacts">Контакти</a></li>
                    <li><a href="{% url "products:akcia" "uk" %}#our-contacts">Акція</a></li>

                </ul>
              </nav>