django==2.0rc1
django-uuslug==1.1.8
django-ckeditor==5.3.1
psycopg2==2.7.3.2
Pillow==4.3.0
django-sortedm2m==1.5.0
dj-database-url==0.4.2
gunicorn==19.7.1
whitenoise==3.3.1
sorl-thumbnail==12.4.1
boto==2.48.0
django-storages==1.6.5


