#buy-btn {
    position: absolute;
    z-index: 800;
    top: 90%;
    left: 50%;
}

@media (max-width: 800px) {
  #buy-btn {
    position: absolute;
    z-index: 800;
    top: 70%;
    left: 50%;
`}
}