doctype html
html(lang="uk")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="../img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title MultiOmega

		// Modernizr 
		// build:js js/modernizr.min.js 
		script(src='../js/modernizr.js')
		// endbuild 

		// CSS 
		// build:css css/all.min.css 
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/owl.carousel.min.css')
		link(rel='stylesheet', href='../css/owl.theme.default.min.css')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		link(rel='stylesheet', href='../css/animate.min.css')
		link(rel='stylesheet', href='../css/main.css')
		// endbuild 
		
		// IE8 
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		// Preloader 
		#preloader
			.cssload-whirlpool
		
		.wrap.main-page
			// Header 
			header#header
				.container
					.row
						.col-md-12
							.lang-social.clearfix
								.right-side
									.languages
										ul
											li.active
												a(href="multiomega.html") ENG
											li
												a(href="../uk/multiomega.html") УКР
											li
												a(href="../multiomega.html") РУС
									.social
										a.facebook(href="#")
							
							.logo
								a(href="/")
									img(src="../img/logo.png", alt="logo")
							
							nav.main-menu
								ul
									li
										a(href="/") Main
									li.menu-item-has-children.active
										span Products
										ul
											li.active
												a(href="multiomega.html") MultiOmega
											li
												a(href="multivitamine.html") Drops multivitamin
											li
												a(href="vitamine-c.html") Drops with Vitamin C
											li
												a(href="ukachivanie.html") Drops for travel sickness and nausea

									li.menu-item-has-children
										span Important
										ul
											li
												a(href="porady.html") Multivitamin and Omega
											li
												a(href="porady2.html") The skin is not in full radiance of beauty, isn't it? Why?
											li
												a(href="porady3.html") Have the child's studies become worse? Why?
											li
												a(href="porady4.html") Are you afraid of your heart? How to support it?

									li
										a(href="ditochkam.html") For Children
									li
										a(href="/#our-contacts") Contacts

							.main-menu-toggle
								.one
								.two
								.three
			
			// Top Section  
			section.top-section
				.container
					.row
						.col-md-12
							.main-logo
								img(src="../img/main-header-logo-en.png", alt="alt")
								h1.text-indent Vitatone MultiOmega. Multivitamin syrup with high in Omega-3 content
							.header-icons
								.icons-item
									.icon
										img(src="../img/header-icon-1.png", alt="alt")
									p Omega 3
								.icons-item
									.icon
										img(src="../img/header-icon-2.png", alt="alt")
									p Sea fish oil
								.icons-item
									.icon
										img(src="../img/header-icon-3.png", alt="alt")
									p 14 vitamins and minerals
								.icons-item
									.icon
										img(src="../img/header-icon-4.png", alt="alt")
									p Tropic fruit taste
							.descr-list
								ul
									li SAFE FOR DIABETICS
									li FISH TASTELESS
									li NATURAL SOURCE OF OMEGA-3 ACIDS
									li FOR CHILDREN FROM 1 YEAR OLD
							
							.left-section
								.banka
									img(src="../img/banka.png", alt="alt")
								a.button.instruction.call-popup(href="#popup") Product Information
							

							.vitamin-bubble.vitamin-bubble-1
								img(src="../img/b-8.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-2
								img(src="../img/b-2.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-3
								img(src="../img/b-10.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-4
								img(src="../img/b-5.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-5
								img(src="../img/b-4.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-6
								img(src="../img/b-9.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-7
								img(src="../img/b-3.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-8
								img(src="../img/b-1.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-9
								img(src="../img/b-7.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-10
								img(src="../img/b-6.png", alt="alt")

							.right-section
								.akula
									img(src="../img/akula.png", alt="alt")

							.vitamin-bubble.vitamin-bubble-11
								img(src="../img/b-13.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-12
								img(src="../img/b-10.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-13
								img(src="../img/b-8.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-14
								img(src="../img/b-9.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-15
								img(src="../img/b-15.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-16
								img(src="../img/b-11.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-17
								img(src="../img/b-1.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-18
								img(src="../img/b-14.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-19
								img(src="../img/b-7.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-20
								img(src="../img/b-12.png", alt="alt")
							.vitamin-bubble.vitamin-bubble-21
								img(src="../img/b-16.png", alt="alt")

		// Text Page 
		section.family
			.container
				.row
					.col-md-12
						h2 FOR HEALTHY FAMILY!
				.row
					.col-md-6
						.family-img
							img(src="../img/family.jpg", alt="alt")
					.col-md-6
						h3 FOR PROPER FUNCTIONING OF:
						.blue-icons
							.blue-icon-item
								.icon
									img(src="../img/blue-icon-1.png", alt="alt")
								p brain
							.blue-icon-item
								.icon
									img(src="../img/blue-icon-2.png", alt="alt")
								p visual organs
							.blue-icon-item
								.icon
									img(src="../img/blue-icon-3.png", alt="alt")
								p nervous system
						.family-text
							p For a child to be healthy, do well in school, develop intellectually and physically, he/she requires a balanced ration.
							p However, in practise none of children's nutrition rich with all elements necessary for healthy growth.
							p If ration lacks useful and nutrient substances in a sufficient quantity, the child is not only disposed to often diseases, he/she is frequently observed developmental delay as well 
								a.read-more(href="#") Read more ...
				.row
					.col-md-12
						.vitaton-text
							span.text-logo
								span.vita VITA
								span.tone TONE 
								span.m M
								span.ulti ulti
								span.o O
								span.mega mega 
							span.minus — 
							span.red-text FAMILY HEALTH

							p.center-text Due to best combination of the total complex of vitamins and minerals with indispensable Omega-3 acids 
								span.text-logo
									span.vita VITA
									span.tone TONE 
									span.m M
									span.ulti ulti
									span.o O
									span.mega mega 
								| has effect on all body organs and systems of children and adults as well
		
		// Positive 
		section.positive
			.container
				.row
					.col-md-12
						h3 Contribute
					.col-md-6
						.positive-item.for-parents.clearfix
							h4 FOR ADULTS
							.family-img
								img(src="../img/family-parents.jpg", alt="alt")
							
							.icon-item.positive-1
								.icon
									img(src="../img/red-icon-1.png", alt="alt")
								p HIGH WORKING CAPACITY
							.icon-item.positive-2
								.icon
									img(src="../img/red-icon-2.png", alt="alt")
								p STRESSES AND DEPRESSION RELEASE
							.icon-item.positive-3
								.icon
									img(src="../img/red-icon-3.png", alt="alt")
								p SKIN AND HAIR STATE IMPROVEMENT
							.icon-item.positive-4
								.icon
									img(src="../img/red-icon-4.png", alt="alt")
								p AGEING STRIFE
							.icon-item.positive-5
								.icon
									img(src="../img/red-icon-5.png", alt="alt")
								p HEART DISEASE PREVENTION

					.col-md-6
						.positive-item.for-children.clearfix
							h4 FOR CHILDREN
							.family-img
								img(src="../img/family-children.jpg", alt="alt")
							
							.icon-item.positive-1
								.icon
									img(src="../img/orange-icon-1.png", alt="alt")
								p PROPER FUNCTIONING OF ALL BODY ORGANS AND SYSTEM
							.icon-item.positive-2
								.icon
									img(src="../img/orange-icon-2.png", alt="alt")
								p EXCITABILITY AND IRRITABILITY IMPAIRMENT, EMOTIONAL OUTBURSTS
							.icon-item.positive-3
								.icon
									img(src="../img/orange-icon-3.png", alt="alt")
								p MEMORY AND LEARNING CAPACITY IMPROVEMENT
							.icon-item.positive-4
								.icon
									img(src="../img/orange-icon-4.png", alt="alt")
								p PROVISION OF RESOURCES FOR CHILD GROWTH AND DEVELOPMENT
		
		// Infographics 
		section.infographics
			img(src="../img/infographics-en.jpg", alt="alt")
		
		// White bg with bubbles 
		.white-bubbles
			.container
				section.vitamins-minerals
					.row
						.col-md-12
							.vitamin-decor
								img(src="../img/vitamin-decor.png", alt="alt")
							.vitamins-title
								.text-logo
									span.vita VITA
									span.tone TONE 
									span.m M
									span.ulti ulti
									span.o O
									span.mega mega 
								h3 14 VITAMINS AND MINERALS
							.banka
								img(src="../img/banka-2.png", alt="alt")
							.vitamin.vitamin-1
								p Iodine – 
									span improvement of thyroid hormones synthesis
							.vitamin.vitamin-2
								p Vitamin D, Zinc – 
									span bones and teeth strengthening
							.vitamin.vitamin-3
								p Vitamin A, Zinc, Riboflavin – 
									span promotes sight improvement
							.vitamin.vitamin-4
								p Zinc, Folic Acid, Vitamin С – 
									span immunity support
							.vitamin.vitamin-5
								p Pantothenic Acid – 
									span develops and stimulates intellectual abilities
							.vitamin.vitamin-6
								p Biotin, Folic Acid, Vitamin PP, VitaminВ1, В6, В12, С – 
									span support psychological development
							.vitamin.vitamin-7
								p Iodine, Biotin, Vitamin PP, Riboflavin, Vitamin В6, В1 – 
									span proper functioning of nervous system
							.vitamin.vitamin-8
								p Vitamin В12, С, Folic Acid, Vitamin PP, Riboflavin – 
									span fatigue feeling abatement
							.vitamin.vitamin-9
								p Zinc, Iodine – 
									span memory and attention improvement
							
				// How to use 
				section.how-use
					.row
						.col-md-12
							.use-title
								h2 HOW TO TAKE 
									span.text-logo
										span.vita VITA
										span.tone TONE 
					.row
						.col-md-6
							.how-use-left
								h4 FOR CHILDREN
								.image
									.blue-info
										img(src="../img/spoon-1.png", alt="alt")
										p 5 ml 
											span per day
										.age 1-3 years
									img(src="../img/how-use-1.jpg", alt="alt")
							.how-use-bottle
								img(src="../img/how-use-3.png", alt="alt")
								span 165/250 ml
						.col-md-6
							.how-use-right
								h4 For the family
								.image
									.blue-info
										img(src="../img/spoon-2.png", alt="alt")
										p 10 ml 
											span per day
										.age from 3 years
									img(src="../img/how-use-2.jpg", alt="alt")
								p.descr Recommended course of administration is 30 days

				// More Advices 
				section#more-advices
					.row
						.col-md-12
							.section-title
								h2 IMPORTANT TO KNOW
					.row
						.advices-slider.owl-carousel.owl-theme
							.item
								.col-md-4
									.advice-item
										.image
											img(src="../img/hair-min.jpg", alt="alt")
										.hover
											.title
												h4 The skin is not in full radiance of beauty, isn't it? Why?
											.descr
												p State of hair, nails and skin does not necessarily depend on Care Products. It comes as no surprise that beauty comes out inside. Sometimes problems arise in a consequence of Omega-3 acids, vitamins and microelements deficiency, which are essential for the body.
												a.button(href="porady2.html") Read more
								.col-md-4
									.advice-item
										.image
											img(src="../img/children-2-min.jpg", alt="alt")
										.hover
											.title
												h4 Have the child's studies become worse? Why?
											.descr
												p If a child has bad marks at school he/she has trouble learning new material, he/she does not wish to play active games – it surely points to whims and noxiousness. Perhaps, child's body lacks Omega-3. 
												a.button(href="porady3.html") Read more
								.col-md-4
									.advice-item
										.image
											img(src="../img/hart-min.jpg", alt="alt")
										.hover
											.title
												h4 Are you afraid of your heart? How to support it?
											.descr
												p Cardiovascular diseases are suffered worldwide, and scientists know about prevalence indexes dependency on these pathologies and dietary habits. It is well-known that many fat fish sorts are taken, heart and vessel diseases are spread the least.
												a.button(href="porady4.html") Read more

		// Try More 
		section#try-more
			.container
				.row
					.section-title
						h2 TRY MORE:
				.row
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="ukachivanie.html")
									img(src="../img/img-1.png", alt="alt")
							h4
								a(href="ukachivanie.html") VITATONE DROPS FOR TRAVEL SICKNESS AND NAUSEA
							a.button.more-button(href="ukachivanie.html") Read more
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="multivitamine.html")
									img(src="../img/img-2.png", alt="alt")
							h4
								a(href="multivitamine.html") VITATONE DROPS MULTIVITAMIN
							a.button.more-button(href="multivitamine.html") Read more
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="vitamine-c.html")
									img(src="../img/img-3.png", alt="alt")
							h4
								a(href="vitamine-c.html") VITATONE DROPS VITAMIN C
							a.button.more-button(href="vitamine-c.html") Read more

		// Footer 
		footer#footer
			.white-block
				.container
					.row
						.col-md-12
							.footer-logo
								a(href="#")
									img(src="../img/footer-logo.png", alt="alt")
							nav.footer-menu
								ul
									li
										a(href="/") Main
									li.menu-item-has-children.active
										span Products
										ul
											li.active
												a(href="multiomega.html") MultiOmega
											li
												a(href="multivitamine.html") Drops multivitamin
											li
												a(href="vitamine-c.html") Drops with Vitamin C
											li
												a(href="ukachivanie.html") Drops for travel sickness and nausea

									li.menu-item-has-children
										span Important
										ul
											li
												a(href="porady.html") Multivitamin and Omega
											li
												a(href="porady2.html") The skin is not in full radiance of beauty, isn't it? Why?
											li
												a(href="porady3.html") Have the child's studies become worse? Why?
											li
												a(href="porady4.html") Are you afraid of your heart? How to support it?

									li
										a(href="ditochkam.html") For Children
									li
										a(href="/#our-contacts") Contacts
							.copyright
								p All rights reserved. When using site materials 
									span  link to vitatone.ua is mandatory. VITATONE 2016
									span © 2016 International Vitamin Corporation
								p.made-in Manufactured in Poland by order and under control of NEWTONE PHARMA LIMITED, Great Britain


			.grey-block
				.information
					p DIETARY SUPPLEMENT IS NOT A DRUG PREPARATION BE AWARE OF PRODUCT BEFORE APPLICATION
		
		// Hidden Popup 
		.hidden
			#popup
				p.top-p
					strong Dietary supplement VITATONE MultiOmega syrup consistency 165 ml, 250 ml
				table.table.table-bordered
					thead
						tr
							th Composition:
							th 1 spoon (5 ml)
							th 2 spoons (10 ml)
					tbody
						tr
							td(colspan="3") Active ingredients:
						tr
							td Fish fat:
								br
								| Omega-3poly-saturated fatty acids
								br
								| - docosahexaenoic acid 
								br
								| - eicosapentaenoic acid
							td 1058 mg
								br
								| 125 mg
								br
								| 195 mg
							td 2116 mg
								br
								| 250 mg
								br
								| 390 mg
						tr
							td Vitamin A (retinyl palmitate)
							td 400 mcg
							td 800 mcg

						tr
							td Vitamin D (cholecalciferol)
							td 5 mcg
							td 10 mcg
						tr
							td Vitamin Е (dl-a-tocopherol)
							td 6 mg
							td 12 mg
						tr
							td Vitamin C
							td 40 mg
							td 80 mg
						tr
							td Zinc
							td 2,5 mg
							td 5 mg
						tr
							td Iodine
							td 37,5 mcg
							td 75 mcg
						tr
							td Thiamine (Vitamin В1)
							td 0,55 mg
							td 1,1 mg
						tr
							td Riboflavin (Vitamin В2)
							td 0,7 mg
							td 1,4 mg
						tr
							td Nicotinic acid (Vitamin PP)
							td 8 mg
							td 16 mg
						tr
							td Vitamin В6
							td 0,7 mg
							td 1,4 mg
						tr
							td Folic acid
							td 100 mcg
							td 200 mcg
						tr
							td Vitamin В12
							td 1,25 mcg
							td 2,5 mcg
						tr
							td Biotin
							td 25 mcg
							td 50 mcg
						tr
							td Pantothenic acid
							td 3 mg
							td 6 mg
						tr
							td(colspan="3") Excipients: maltitol sweetening agent, water, flavorants, emulgents, mono and diglycerides of fatty acids, viscosity enhancer amylum natrium octenyl, succinate, xantham gum, maltodextrin, acidity regulator сіtric acid, 	food additives potassium sorbate and sodium benzoate.
				
				p No sugar.
				p GMO free.
				p
					strong Recommendations for use: 
					| take in the capacity of a dietary supplement as an additional source of Omega-3 fatty acids, in particular, docosahexaenic and eicosapentanoic acids enriched with vitamins and minerals to favour health development and functioning of brain, nervous system and cardio-vascular system, musculo-skeletal system, endocrine system and body in total.
				p It shall not be applied as replacement of balanced food ration. Doctor's consultation is recommended prior to intake.
				p
					strong Method of administration and recommended daily dose: 
					| intake by children from 1 to 3 years old: 1 tea spoon a day (5ml) before or after meals: for children from 3 years old and adults: 2 tea spoons a day (10 ml) before or after meals.
				p Administration course is determined by doctor individually. Dose may be increased by the doctor. Do not exceed recommended amount for daily intake.
				p
					strong Precaution measure during administration: 
					| hypersensitivity to product components. Doctor's advice is recommended during pregnancy and galactopoiesis.
				p It is not a medicinal agent.
				p
					strong Pharmaceutical form and presentation: 
					| syrup consistence in plastic vial.
				p
					strong Volume: 
					| 165 ml, 250 ml
				p
					strong Best before: 
					| specified on the package.
				p
					strong Expiration date: 
					| 24 months.
				p
					strong Batch (series) number: 
					| specified on the package.
				p
					strong Storage conditions: 
					| store at room temperature in a dry, light and child proof place. Upon vial opening the product shall be kept in the refrigerator. Use in the course of 60 days after opening.





		// JS 
		// build:js js/all.min.js 
		script(src='../js/jquery.min.js')
		script(src='../js/bootstrap.min.js')
		script(src='../js/jquery.matchHeight-min.js')
		script(src='../js/SmoothScroll.js')
		script(src='../js/owl.carousel.min.js')
		script(src='../js/jquery.magnific-popup.js')
		script(src='../js/jquery.malihu.PageScroll2id.js')
		script(src='../js/superfish.min.js')
		script(src='../js/common.js')
		// endbuild 