doctype html
html(lang="uk")
	head
		// Meta 
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')
		
		// SEO Meta 
		meta(name='description' content='')
		meta(name='keywords' content='')

		// Favicon 
		link(rel="shortcut icon" href="../img/favicon/favicon.ico" type="image/x-icon")
		link(rel="apple-touch-icon" href="../img/favicon/apple-touch-icon.png")
		link(rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png")
		link(rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png")

		// Title 
		title The skin is not in full radiance of beauty, isn't it? Why?

		// Modernizr 
		// build:js js/modernizr.min.js 
		script(src='../js/modernizr.js')
		// endbuild 

		// CSS 
		// build:css css/all.min.css 
		link(rel='stylesheet', href='../css/bootstrap.min.css')
		link(rel='stylesheet', href='../css/owl.carousel.min.css')
		link(rel='stylesheet', href='../css/owl.theme.default.min.css')
		link(rel='stylesheet', href='../css/magnific-popup.css')
		link(rel='stylesheet', href='../css/animate.min.css')
		link(rel='stylesheet', href='../css/social-likes_flat.css')
		link(rel='stylesheet', href='../css/main.css')
		// endbuild 
		
		// IE8 
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	body
		// Preloader 
		#preloader
			.cssload-whirlpool
		
		.wrap
			// Header 
			header#header
				.container
					.row
						.col-md-12
							.lang-social.clearfix
								.right-side
									.languages
										ul
											li.active
												a(href="porady2.html") ENG
											li
												a(href="../uk/porady2.html") УКР
											li
												a(href="../porady2.html") РУС
									.social
										a.facebook(href="#")
							
							.logo
								a(href="/")
									img(src="../img/logo.png", alt="logo")
							
							nav.main-menu
								ul
									li
										a(href="/") Main
									li.menu-item-has-children
										span Products
										ul
											li
												a(href="multiomega.html") MultiOmega
											li
												a(href="multivitamine.html") Drops multivitamin
											li
												a(href="vitamine-c.html") Drops with Vitamin C
											li
												a(href="ukachivanie.html") Drops for travel sickness and nausea

									li.menu-item-has-children.active
										span Important
										ul
											li
												a(href="porady.html") Multivitamin and Omega
											li.active
												a(href="porady2.html") The skin is not in full radiance of beauty, isn't it? Why?
											li
												a(href="porady3.html") Have the child's studies become worse? Why?
											li
												a(href="porady4.html") Are you afraid of your heart? How to support it?

									li
										a(href="ditochkam.html") For Children
									li
										a(href="/#our-contacts") Contacts

							.main-menu-toggle
								.one
								.two
								.three
			
			// Children Photo 
			section#children
				.container-fluid
					.row
						.col-md-12
							.children-img
								img(src="../img/hair.jpg", alt="alt")


		// Text Page 
		section#text-page
			.container
				.row
					.col-md-12
						h1 Taking case of health and beauty in any age
						p 
							strong Is your hair not shiny enough as before, nails breaking, the skin is insufficiently fresh ... How to save beauty and youth?
						p State of hair, nails and skin does not necessarily depend on Care Products. It comes as no surprise that beauty comes out inside. Sometimes problems arise in a consequence of Omega-3 acids, vitamins and microelements deficiency, which are essential for the body.
						p If you take balanced meals and get from stuff all necessary substances for the body, usually you do not have any problems with hair, skin and nails. Be aware that even qualitative make-up will not change situation for the better, thus take care of your organism to get first of all required amount of 
							strong Omega-3 
							| polyunsaturated fatty acids, and vitamins and minerals essential for beauty maintenance as well.
						p It is difficult to overestimate the value of 
							strong Omega-3 
							| in care about beauty and look. These acids have anti-inflammatory effect, prevent appearance of enanthesis, and maintain collagen fibres under normal conditions, from which skin elasticity depends on. Besides, 
							strong Omega-3 
							| acids are antioxidants and protect body against oxidative stress (as it is known, it is one of the body ageing reasons).
						p It is also important to know what vitamins are required to maintain beauty of skin, hair and nails. In particular, 
							strong Vitamin А
							| , is necessary admission in a sufficient amount of which positively affects the appearance, helps maintain skin youth, beautiful hair and strong nails.
						p If body lacks 
							strong Vitamin В2
							| , skin starts to peel off, rhagades may appear on the lips, so it is also necessary to be in sufficient amount.
						p 
							strong Vitamin В1 
							| needs to regulate metabolic processes and prevents oedemata.
						p 
							strong Vitamin С 
							| possesses features of antioxidant, i.e. protects skin and hair against negative external influences as well as reinforces vessels. Moreover, this vitamin is responsible for healthy, attractive colour of facial skin.
						p 
							strong Vitamin Е 
							| being called beauty vitamin is also among antioxidants.
						p 
							strong Vitamin D 
							| is greatly important for beauty maintenance of skin and nails, besides, a woman shall get it in sufficient amount lifelong in order to avoid development of osteoporosis –enhanced bones fragility, possible to occur with age. 
						blockquote.color-orange All these vitamins, as well as zinc, selenium, folic acid and extremely important Omega-3 polyunsaturated fatty acids are contained in Vitatone MultiOmega. This complex medication prevents skin ageing, protects it against ultraviolet exposure, fights against skin inflammatory process quickly, reduces allergy development, and cares about nails strength and hair beauty.
						p 
							strong Omega-3 
							| acids also favours calcium assimilation as it is essential for health and beauty of hair and nails. No wonder that these acids are included into the composition of many preparations intended for youth and beauty maintenance.
						p Remember that skin emits health, when woman had rest and got enough sleep. Take care of sufficient sleep time. There is one more important aspect– intaking sufficient amount of liquid. Drink at least a litre and half of clean water a day. In addition, try to make your rations maximally natural, use more freshly cooked meals. And take vitamins, minerals, microelements and healthy 
							strong Omega-3 
							| acids contained in a full complex of 
							strong Vitatone MultiOmega.
						p 
							strong Vitatone MultiOmega is manufactured in Europe, does not contain fish smell and sugar free. 
							| Also 
							strong Vitatone MultiOmega 
							| has 
							strong multi fruit flavour
							| , thus, any woman will appraise its pleasant taste, smell and benefit. 
						p 
							strong Vitatone MultiOmega – is a natural complex based on 14 vitamins and minerals with a high content of Omega-3acids for good health, beautiful skin and healthy hair.
						.social-likes
							.facebook(title='Поділитися ссилкою у Фейсбуці') Facebook
							.twitter(title='Поділитися ссилкою у Твіттері') Twitter
							.vkontakte(title='Поділитися ссилкою у Вконтакті') Вконтакте

		// More Advices 
		section#more-advices
			.container
				.row
					.col-md-12
						.section-title
							h2 IMPORTANT TO KNOW
				.row
					.advices-slider.owl-carousel.owl-theme
						.item
							.col-md-4
								.advice-item
									.image
										img(src="../img/hair-min.jpg", alt="alt")
									.hover
										.title
											h4 The skin is not in full radiance of beauty, isn't it? Why?
										.descr
											p State of hair, nails and skin does not necessarily depend on Care Products. It comes as no surprise that beauty comes out inside. Sometimes problems arise in a consequence of Omega-3 acids, vitamins and microelements deficiency, which are essential for the body.
											a.button(href="porady2.html") Read more
							.col-md-4
								.advice-item
									.image
										img(src="../img/children-2-min.jpg", alt="alt")
									.hover
										.title
											h4 Have the child's studies become worse? Why?
										.descr
											p If a child has bad marks at school he/she has trouble learning new material, he/she does not wish to play active games – it surely points to whims and noxiousness. Perhaps, child's body lacks Omega-3. 
											a.button(href="porady3.html") Read more
							.col-md-4
								.advice-item
									.image
										img(src="../img/hart-min.jpg", alt="alt")
									.hover
										.title
											h4 Are you afraid of your heart? How to support it?
										.descr
											p Cardiovascular diseases are suffered worldwide, and scientists know about prevalence indexes dependency on these pathologies and dietary habits. It is well-known that many fat fish sorts are taken, heart and vessel diseases are spread the least.
											a.button(href="porady4.html") Read more

		// Try More 
		section#try-more
			.container
				.row
					.section-title
						h2 TRY MORE:
				.row
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="ukachivanie.html")
									img(src="../img/img-1.png", alt="alt")
							h4
								a(href="ukachivanie.html") VITATONE DROPS FOR TRAVEL SICKNESS AND NAUSEA
							a.button.more-button(href="ukachivanie.html") Read more
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="multivitamine.html")
									img(src="../img/img-2.png", alt="alt")
							h4
								a(href="multivitamine.html") VITATONE DROPS MULTIVITAMIN
							a.button.more-button(href="multivitamine.html") Read more
					
					.col-md-4.col-sm-4.col-xs-12.mb-sm-20
						.try-more-item
							.image
								a(href="vitamine-c.html")
									img(src="../img/img-3.png", alt="alt")
							h4
								a(href="vitamine-c.html") VITATONE DROPS VITAMIN C
							a.button.more-button(href="vitamine-c.html") Read more

		// Footer 
		footer#footer
			.white-block
				.container
					.row
						.col-md-12
							.footer-logo
								a(href="#")
									img(src="../img/footer-logo.png", alt="alt")
							nav.footer-menu
								ul
									li
										a(href="/") Main
									li.menu-item-has-children
										span Products
										ul
											li
												a(href="multiomega.html") MultiOmega
											li
												a(href="multivitamine.html") Drops multivitamin
											li
												a(href="vitamine-c.html") Drops with Vitamin C
											li
												a(href="ukachivanie.html") Drops for travel sickness and nausea

									li.menu-item-has-children.active
										span Important
										ul
											li
												a(href="porady.html") Multivitamin and Omega
											li.active
												a(href="porady2.html") The skin is not in full radiance of beauty, isn't it? Why?
											li
												a(href="porady3.html") Have the child's studies become worse? Why?
											li
												a(href="porady4.html") Are you afraid of your heart? How to support it?

									li
										a(href="ditochkam.html") For Children
									li
										a(href="/#our-contacts") Contacts
							.copyright
								p All rights reserved. When using site materials 
									span  link to vitatone.ua is mandatory. VITATONE 2016
									span © 2016 International Vitamin Corporation
								p.made-in Manufactured in Poland by order and under control of NEWTONE PHARMA LIMITED, Great Britain

			.grey-block
				.information
					p DIETARY SUPPLEMENT IS NOT A DRUG PREPARATION BE AWARE OF PRODUCT BEFORE APPLICATION

		// JS 
		// build:js js/all.min.js 
		script(src='../js/jquery.min.js')
		script(src='../js/bootstrap.min.js')
		script(src='../js/jquery.matchHeight-min.js')
		script(src='../js/SmoothScroll.js')
		script(src='../js/owl.carousel.min.js')
		script(src='../js/jquery.magnific-popup.js')
		script(src='../js/jquery.malihu.PageScroll2id.js')
		script(src='../js/superfish.min.js')
		script(src='../js/social-likes.min.js')
		script(src='../js/common.js')
		// endbuild 