<nav class="footer-menu">
                <ul>
                  <li><a href="{% url "products:general_en" %}">Main</a></li>
                  <li class=""><span>Products</span>
                    <ul>
                      <li><a href="{% url "products:multiomega" "en" %}">MultiOmega</a></li>
                      <li><a href="{% url "products:multivitamin" "en" %}">Drops multivitamin</a></li>
                      <li><a href="{% url "products:vitaminc" "en" %}">Drops with Vitamin C</a></li>
                      <li><a href="{% url "products:ukachivanie" "en" %}">Drops for travel sickness and nausea</a></li>
                      <li><a href="{% url "products:jeleyki" "en" %}">Jelly multivitamin</a></li>
                      <li><a href="{% url "products:shipuchie" "en" %}">Effervescent multivitamin</a></li>
                      <li><a href="{% url "products:nabor" "en" %}">Gift set</a></li>
                    </ul>
                  </li>
                    <li>
                    <a href="{% url "blog:posts" %}">Important</a>
                  </li>
                  <li class="active"><a href="{% url "products:ditochkam" "en" %}">For Children</a></li>
                  <li><a href="{% url "products:general_en" %}#our-contacts">Contacts</a></li>
                </ul>
              </nav>
<div class="copyright">
                <p>All rights reserved. When using site materials <span> link to vitatone.ua is mandatory. VITATONE 2017</span><span>© 2017 International Vitamin Corporation</span></p>
                <p class="made-in">Manufactured in Poland by order and under control of NEWTONE PHARMA LIMITED, Great Britain</p>
              </div>