<section id="children">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="children-img">
                  <img src="{{ post_body.post.image.url }}" alt="alt" class="hidden-xs">
                  <img src="{{ post_body.post.image.url }}" width="768" alt="alt" class="visible-xs hidden-xxs">
                  <img src="{{ post_body.post.image.url }}" width="480" alt="alt" class="visible-xxs">
              </div>
            </div>
          </div>
        </div>
</section>