
            <nav class="footer-menu">
                <ul>
                  <li><a href="{% url "products:general_uk" %}">Головна</a></li>
                  <li class="menu-item-has-children active"><span>Продукти</span>
                    <ul>
                      <li><a href="{% url "products:multiomega" 'uk' %}">МультиОмега</a></li>
                      <li><a href="{% url "products:multivitamin" 'uk' %}">Льодяники Мультивітамін</a></li>
                      <li><a href="{% url "products:vitaminc" 'uk' %}">Льодяники з вітаміном С</a></li>
                      <li><a href="{% url "products:ukachivanie" 'uk' %}">Льодяники при захитуванні та нудоті</a></li>
                      <li><a href="{% url "products:jeleyki" 'uk' %}">Желейні мультивітаміни</a></li>
                      <li><a href="{% url "products:shipuchie" 'uk' %}">Шипучі мультивітаміни</a></li>
                      <li><a href="{% url "products:nabor" 'uk' %}">Подарунковий набір</a></li>
                    </ul>
                  </li>
                    <li><a href="{% url "blog:posts" "uk" %}">Важливо знати</a></li>
                  <li><a href="{% url "products:ditochkam" 'uk' %}">Діточкам</a></li>
                  <li><a href="{% url "products:general_uk" %}/#our-contacts">Контакти</a></li>
                </ul>
              </nav>
            <div class="copyright">
                <p>Всі права захищені. При використанні матеріалів сайту <span>посилання на сайт vitatone.ua обов’язкове. VITATONE 2017</span><span>© 2017 International Vitamin Corporation</span></p>
                <p class="made-in">Вироблено в Польщі на замовлення та під контролем «NEWTONE PHARMA LIMITED», Велика Британія</p>
              </div>