<nav class="footer-menu">
                <ul>
                  <li><a href="{% url "products:general" %}">Главная</a></li>
                  <li class="active"><span>Продукты</span>
                    <ul>
                      <li><a href="{% url "products:multiomega_ru" %}">МультиОмега</a></li>
                      <li><a href="{% url "products:multivitamin_ru" %}">Леденцы Мультивитамин</a></li>
                      <li><a href="{% url "products:vitaminc_ru" %}">Леденцы с витамином С</a></li>
                      <li><a href="{% url "products:ukachivanie_ru" %}">Леденцы при укачивании и тошноте</a></li>
                      <li><a href="{% url "products:jeleyki_ru" %}">Желейные мультивитамины</a></li>
                      <li><a href="{% url "products:shipuchie_ru" %}">Шипучие мультивитамины</a></li>
                      <li><a href="{% url "products:nabor_ru" %}">Подарочный набор</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url "blog:posts_ru" %}">Важно знать</a></li>
                  <li><a href="{% url "products:ditochkam_ru" %}">Деткам</a></li>
                  <li><a href="{% url "products:general" %}#our-contacts">Контакты</a></li>
                </ul>
              </nav>
<div class="copyright">
                <p>Все права защищены. При использовании материалов сайта <span>ссылка на сайт vitatone.ua обязательна. VITATONE 2017</span><span>© 2017 International Vitamin Corporation</span></p>
                <p class="made-in">Произведено в Польше по заказу и под контролем «NEWTONE PHARMA LIMITED», Великобритания</p>
              </div>