{% extends "base.html" %}
{% load static %}

{% block lang %}ru{% endblock lang %}
{% block title %}{% if item.product.title %}{{ item.product.title }}{% else %}{{ item.product.name }}{% endif %}{% endblock %}
{% block head %}
    {{ block.super }}
    {% with item=item.product %}
        {% include "includes/meta/index.html" %}
    {% endwith %}
{% endblock head %}

{% block content %}
    <div id="preloader">
      <div class="cssload-whirlpool"></div>
    </div>
    <div class="wrap vitamin-c">
      <!-- Header -->
      <header id="header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="lang-social clearfix">
                <div class="right-side">
                  <div class="languages">
                    <ul>
                      <li><a href="{% url "products:vitaminc" 'en' %}">ENG</a></li>
                      <li><a href="{% url "products:vitaminc" 'uk' %}">УКР</a></li>
                      <li class="active"><a href="{% url "products:vitaminc_ru" %}">РУС</a></li>
                    </ul>
                  </div>
                  <div class="social"><a href="https://www.facebook.com/VitaTone/?fref=ts" class="facebook" target="_blank"></a></div>
                </div>
              </div>
              {% include "includes/menu_prods/index.html" %}
              <div class="main-menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Vitamin C Header -->
      <section class="vitamin-c-header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo-vitamin-c"><img src="{% static "img/logo-vitamin-c.png" %}" alt="alt">
                <h1 class="text-indent">Леденцы для детей с витамином С</h1>
              </div>
              <div class="logo-descr">
                <p class="white-text">В 4-х леденцах – рекомендованная</p>
                <p class="orange-text">суточная норма витамина С для детей с 3-х лет</p>
              </div>
            </div>
          </div>
        </div>
      </section>
        <!-- Vitamin C Content -->
      <section class="vitamin-c-content">
        <div class="container">
          <div class="vitamin-menu clearfix">
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>
                    <div class="icon"><img src="{% static "img/menu-1.png" %}" alt="alt"></div>
                    <h3>Со вкусом <span>Лимона</span></h3>
                  </li>
                  <li>
                    <div class="icon"><img src="{% static "img/menu-2.png" %}" alt="alt"></div>
                    <h3>Со вкусом <span>Вишни</span></h3>
                  </li>
                  <li>
                    <div class="icon"><img src="{% static "img/menu-3.png" %}" alt="alt"></div>
                    <h3>Со вкусом <span>Апельсина</span></h3>
                  </li>
                  <li>
                    <div class="icon"><img src="{% static "img/menu-4.png" %}" alt="alt"></div>
                    <h3>Со вкусом <span>Яблока</span></h3>
                  </li>
                  <li>
                    <div class="icon"><img src="{% static "img/menu-5.png" %}" alt="alt"></div>
                    <h3>Со вкусом <span>Экзотик</span></h3>
                  </li>
                  <li>
                    <div class="icon"><img src="{% static "img/menu-6.png" %}" alt="alt"></div>
                    <h3>Со вкусом <span>Ананаса</span></h3>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="vitamin-c-text">
            <div class="row">
              <div class="col-md-5 col-md-push-7">
                <div class="candy-block"><img src="{% static "img/candy-box.png" %}" alt="alt"><a href="#popup" class="button instruction call-popup">Информация о продукте</a></div>
              </div>
              <div class="col-md-7 col-md-pull-5">
                <div class="text-block clearfix">
                  <p>{{ item.text1 | safe}}</p>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Состав</th>
                        <th>В 4-х леденцах</th>
                        <th>% РДД*</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Витамин С</td>
                        <td>80 мг</td>
                        <td>100</td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="table-descr">
                    <h4>ФОРМА ВЫПУСКА: <span>Леденцы 0,8 г штука</span></h4>
                    <h4>*% РДД <span>рекомендованная дневная доза</span></h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="profit-block-wrap">
                  <div class="profit-block">
                      <p>{{ item.text2 | safe }}</p>
                  </div>
                  <div class="candy-box-2"><img src="{% static "img/candy-box-2-2.png" %}" alt="alt"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="candy-slider-section">
            <div class="row">
              <div class="col-md-12">
                <div class="try-more">
                  <h2>Попробуй еще!</h2>
                </div>
                <div class="candy-slider owl-carousel owl-theme">
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6"><a href="{% url "products:shipuchie_ru" %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-1-ru.png" %}" alt="alt"></div></a></div>
                      <div class="col-md-6"><a href="{% url "products:nabor_ru" %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-2-ru.png" %}" alt="alt"></div></a></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6"><a href="{% url "products:shipuchie_ru" %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-3-ru.png" %}" alt="alt"></div></a></div>
                      <div class="col-md-6"><a href="{% url "products:jeleyki_ru" %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-4-ru.png" %}" alt="alt"></div></a></div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="row">
                      <div class="col-md-6"><a href="{% url "products:ukachivanie_ru" %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-5-ru.png" %}" alt="alt"></div></a></div>
                      <div class="col-md-6"><a href="{% url "products:multivitamin_ru" %}">
                          <div class="candy-item"><img src="{% static "img/slider/slide-6-ru.png" %}" alt="alt"></div></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

            <!-- Footer -->
            <footer id="footer">
              <div class="white-block footer-transparent">
                  <div class="sliding-footer"></div>
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="footer-logo"><a href="#"><img src="{% static "img/footer-logo2.png" %}" alt="alt"></a></div>
                      {% include "includes/footer_menu_prods/index.html" %}
                        <div class="nickelodeon-logo"><img src="{% static "img/nickelodeon.png" %}" alt="alt"></div>
                    </div>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>

      <!-- Grey block -->
      <div class="grey-block">
        <div class="information">
          <p>ДІЄТИЧНА ДОБАВКА НЕ Є ЛІКАРСЬКИМ ЗАСОБОМ. ПЕРЕД ВЖИВАННЯМ ОЗНАЙОМИТИСЯ З ІНФОРМАЦІЄЮ ПРО ПРОДУКТ</p>
        </div>
      </div>
    </div>
{% endblock content %}

{% block footer %}
    <!-- Hidden Popup -->
    <div class="hidden">
      <div id="popup">
          {{ item.popup | safe }}
      </div>
    </div>
{% endblock footer %}